
img {border: none;}
.container1 {
height: 360px;
width: 910px;
margin: -180px 0 0 -450px;
top: 50%; left: 50%;
position: absolute;
}
ul.thumb {
float: left;
list-style: none;
margin: 0; padding: 10px;
width: 360px;
}
ul.thumb li {
margin: 0; padding: 5px;
float: left;
position: relative;
width: 110px;
height: 110px;
}
ul.thumb li img {
width: 100px; height: 100px;
border: 1px solid #ddd;
padding: 5px;
background: #f0f0f0;
position: absolute;
left: 0; top: 0;
-ms-interpolation-mode: bicubic
}
ul.thumb li img.hover {
background:url(thumb_bg.png) no-repeat center center;
border: none;
}
#main_view {
float: left;
padding: 9px 0;
margin-left: -10px;
}
.good {
  color: #98fb98;
}
.errors {
  color: #DC143C;
}
.admin {
  width: 80%;
  height: 50%;
}
.forn-control{
  width: 100px;
}
.form-reg {
  width: 50%;
}
#main_view img{
width: 500px;
height: 323px;
}

/*
Таблица стилей для адаптивной галереи изображений.
*/
/* reset */
html, body, div, span, h1, ul, li { 
	margin: 0; padding: 0;
 }
*, :after, :before { 
	-webkit-box-sizing: border-box; box-sizing: border-box;
 }
img { 
	border: none;
 }

html, body, .wrap { 
	width: 100%; height: 100%; 
}
body { 
	font: normal 16px/20px Roboto, 'Helvetica CY', Verdana, sans-serif; color: #333; background-color: #fff; 
}

.wrap {
	 max-width: 1280px; min-width: 320px; margin: 0 auto; padding: 40px 15px 0; 
	}
h1 { 
	max-width: 1024px; font-weight: 500; font-size: 20px; margin: 0 auto 30px; 
}

[data-hidden = true] { display: none; }
[data-hidden = false] { display: block; }

/* transition */
.nav-ctrl span, .dots-ctrl li { -webkit-transition: all 0.3s; transition: all 0.3s; }

/*** CONTENT ***/
.gallery { width: 100%; visibility: hidden; margin: 0 auto 30px; }
.slider { width: 100%; max-width: 1024px; position: relative; overflow: hidden; margin: 0 auto; }
.stage { overflow: hidden; }
	.stage > div { float: left; position: relative; }
		.stage > div img { width: 100%; max-width: 800px; height: auto; }

.control { width: 100%; position: relative; }
.nav-ctrl { text-align: center; margin-top: 15px; }
	.nav-ctrl span { width: 100px; height: 30px; display: inline-block; font-weight: 500; font-size: 12px; line-height: 30px; color: #eee; font-family: 'Roboto', sans-serif; text-transform: uppercase; text-align: center; margin: 0 5px; border: solid 1px #357ebd; border-radius: 3px; outline: none; -webkit-user-select: none; user-select: none; background-color: #428bca; cursor: pointer; -webkit-transition: all 0.3s; transition: all 0.3s; }
	.nav-ctrl span:hover { border-color: #285e8e; background-color: #3276b1; }
	.nav-ctrl .disable, .nav-ctrl .disable:hover { border: solid 1px #357ebd; background-color: #428bca; opacity: 0.4; cursor: default; }
.dots-ctrl { text-align: center; margin-top: 15px; }
	.dots-ctrl li { width: 10px; height: 10px; display: inline-block; border-radius: 50%; background-color: #09f; opacity: 0.4; cursor: pointer; }
	.dots-ctrl li + li { margin-left: 10px; }
	.dots-ctrl .active, .dots-ctrl li:hover { opacity: 1; }


.header  a, a:hover{
	color: blue;
	text-decoration: none;
}

.header p {
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
}
.header h1 {
	letter-spacing: 3px;
	font-size: 300%;
}

.header img {
	width: 8%;
	padding-right: 3%;
    padding-bottom: 1%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #346270;
}
.nav-pills>li>a {
	color: #fff;
}
.nav-pills>li>a:hover {
	background-color: #346270;
}
.navbar-inverse {
    padding: 1%;
    border-radius: 0;
}
.navbar-inverse {
    background-color: #111014;
    border-color: #080808;
}
@media (max-width: 767px){
    .nav-pills>li {
    	float: none;
    }
	.nav-pills {
		text-align: center;
	}
	.header h1 {
		letter-spacing: 2px;
		font-size: 280%;
	}
	.header {
		text-align: center;
	}
	.header img {
	width: 14%;
}
}
.clear {
	clear: both;
	height: 63px;
}
.wrapper {
	min-height: 100%;
}
html, body {
	height: 100%;
}
.margin-8 {
	margin-top: 8%;
}

.panel	{
	border:none;
}

.panel-body {
	background-color: #f9f9f9;

}
.panel-info>.panel-heading {
	background-color: #f0ad4e;
	color: white;
	border-color: transparent;

}
.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}
.form-control {
	font-size: 14px;
}

.form-control {
	border-radius: 0px;
}
.input-lg {
	font-size: 14px;
}
.list-group-item-warning {
	color: #8a6d3b;
	background-color: #f9f9f9;
}
.badge {
	background-color: #000000;
	font-size: 1.2em;
}

.info-block {
	font-size: 120%;
}
.info-block .badge {
	font-size: 80%;
}

.info-block span {
	margin-right: 3%;
}
textarea.form-control {
	height: 200px;
}
.table tbody>tr>td.vert-align {
	vertical-align: middle;
}
.border {
	border: solid 10px #dad7d5;
	border-radius: 2%;
}
.width {
	width: 96%;
}
.width2 {
	width: 120%;
}
.width3 {
	width: 60%;
}
.float-right {
	float: right;
}
.btn {
	margin-top: 2%;
}
.size {
	font-size: 1.1em;
}
.sizeh {
	font: 1.5em;
}









.next a {

	text-decoration: none;
	color: black;
	font-size: 20px;

}
.next a:hover {

	color: #0AB6DD;

}
.prev a {

	text-decoration: none;
	color: black;
	font-size: 20px;

}
.prev a:hover {

	color: #0AB6DD;

}

.prev {

	position: relative;
	top: 80px;
	right: 150px;

}
.next {
	position: relative;
	top: 80px;
	left: 150px;

}


footer {
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid black;
}
footer a {
	color: #999;
}
footer a:hover {
	color: #efefef;
}

#main_text {
	width: 160%;
	font-size: large;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@media (max-width: 767px){
.size {
	font-size: 0.8em;
}
.sizeh {
	font: 1.1em;

}

}
.zag {
	text-decoration: underline;
}
.width4 {
	width: 30%;
}
.width5 {
	width: 160%;
}
h2 {
	font-size: 1.4em;
}

footer {
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid black;
	position: fixed;
	top: 95%;
	width: 100%;

}
footer a {
	color: #999;
}
footer a:hover {
	color: #efefef;
}

.main_text h1
{
	font-weight: 900;
}

.btn1 {
	width: 10%;
	height: 10%;
}

.button {
	text-align: center;
	padding: 5%; 
	margin-top: 5%;
	border-radius: 10px;
	background-color: #0AB6DD;
}

.button a {
	color: #dad7d5;
}

.center_text {
	margin-left: 20%;
}