.header p {
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: rgb(255, 255, 255);
    background-color: #346270;
}
.nav-pills>li>a {
	color: rgb(255, 255, 255);
}
.nav-pills>li>a:hover {
	background-color: #346270;
}
.navbar-inverse {
    padding: 1%;
    border-radius: 0;
}
.navbar-inverse {
    background-color: #111014;
    border-color: #080808;
}

.first {
    margin-bottom:20px;
    font-size:30px;
    color: #B38CF3;
    text-align: center;
}
.second {
    margin: 10px 0;
    font-size:20px;
    text-align: center;
}
.id {
    margin: 10px 0;
    color: #ff0000;
    font-size:20px;
    text-align: center;
}
.email {
    color: #1399d6;
    margin: 10px 0;
    font-size:20px;
    text-align: center;
}
.out {
    border: 2px solid #B38CF3;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px;
    color:#ffffff;
    text-align: center;
    font-weight: bold;
}
.sql {
    border: 2px solid #B38CF3;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px;
    color:#ffffff;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 767px){
    .nav-pills>li {
    	float: none;
    }
	.nav-pills {
		text-align: center;
	}
	.header h1 {
		letter-spacing: 2px;
		font-size: 280%;
	}
	.header {
		text-align: center;
	}
	
}
.clear {
	clear: both;
	height: 63px;
}
.wrapper {
	min-height: 100%;
}
html, body {
	height: 100%;
}
.panel	{
	border:none;
}
.panel-body {
	background-color: #f9f9f9;

}
.panel-info>.panel-heading {
	background-color: #f0ad4e;
	color: white;
	border-color: transparent;

}
.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}
.btn {
	margin-top: 2%;
}
h2 {
	font-size: 1.5em;
}
footer {
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid black;
	position: fixed;
	top: 95%;
	width: 100%;
}
.btn1 {
	width: 10%;
	height: 10%;
}
.button {
	text-align: center;
	padding: 5%; 
	margin-top: 5%;
	border-radius: 10px;
	background-color: #0AB6DD;
}

.button a {
	color: #ffffff;
}
.container2232 p {
	color: #000000;
	animation-iteration-count: infinite;
    animation-name: anim;
    animation-duration: 3s;
}
@keyframes anim{
    0% {
        color: rgb(241, 44, 18);
    }

	20%{
        color: rgb(240, 128, 0);
    }

    40%{
        color: rgb(255, 238, 0);
    }

    60%{
        color: rgb(0, 255, 13);
    }

	80%{
        color: rgb(5, 2, 211);
    }

	100%{
        color: rgb(226, 26, 176);
    }
}
#mainImage { 
	width: 600px;
	display: flex;
}

.elementImage {
	height: 600px;
	
}

.prof_block {
	text-align: center;
}

.btn2 {
	border: 1px solid black;
	color: rgb(0, 0, 0);
	width: 10%;
	height: 10%;
	text-align: center;
	margin-left: 35%;
	background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
	background-position: 0 0;
	border-radius: 8px;
	animation: background 5s infinite alternate;
}

.btn3 {
	border: 1px solid black;
	color: rgb(0, 0, 0);
	width: 10%;
	height: 10%;
	text-align: center;
	margin-left: 35%;
	background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
	background-position: 0 0;
	border-radius: 8px;
	animation: background 5s infinite alternate;
}

@keyframes background {
	100% {
	  background-position:  0 100px;
	}
  }

.block_page-white {
	margin-left: 10%;
}
